<div class="col-auto px-0 sidebar">
    <div class="d-flex flex-column p-3">
      <h3 class="mb-4">Cosmeta</h3>
      <ul class="nav nav-pills flex-column gap-2">
        <li class="nav-item">
          <a href="/admin/dashboard" data-title="Dashboard" class="nav-link">
            <i class="bi bi-speedometer2 me-2"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/user" data-title="Users" class="nav-link">
            <i class="bi bi-people me-2"></i>
            Users
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/Products" data-title="Products" class="nav-link">
            <i class="bi bi-box me-2"></i>
            Products
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/inventory" data-title="Inventory" class="nav-link">
            <i class="bi bi-boxes me-2"></i>
            Inventory
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/category" data-title="Category" class="nav-link">
            <i class="bi bi-tags me-2"></i>
            Category
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/brand" data-title="Brands"   class="nav-link">
            <i class="bi bi-award me-2"></i>
            Brands
          </a>
        </li>

        <li class="nav-item">
          <a href="/admin/orderManagement" data-title="Orders"  class="nav-link">
            <i class="bi bi-cart me-2"></i>
            Orders
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/return" data-title="Returns"  class="nav-link">
            <i class="bi bi-arrow-return-left me-2"></i>
            Returns
          </a>
        </li>

        <li class="nav-item">
          <a href="/admin/coupon" data-title="Coupons"  class="nav-link">
            <i class="bi bi-ticket-perforated me-2"></i>
            Coupons
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/offer" data-title="Offers"  class="nav-link">
            <i class="bi bi-gift me-2"></i>
            Offers
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/userWallet" data-title="WalletDetails"  class="nav-link">
            <i class="bi bi-wallet2 me-2"></i>
            User Wallet
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/salesReport" data-title="Sales"  class="nav-link">
            <i class="bi bi-bar-chart me-2"></i>
            Sales
          </a>
        </li>
      </ul>
      <a href="/admin/logout">
        <button class="btn btn-outline-light mt-2">
          <i class="bi bi-box-arrow-right me-2"></i>
          Logout
        </button>
      </a>
    </div>
  </div>