<footer class="foot">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Cosmeta</h5>
                <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Authenticity</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact us</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Phone: +1234567890</a></li>
                    <li><a href="#">Email: info@cosmeta.com</a></li>
                    <li><a href="#">Mon-Sat 9AM to 10PM</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Customers</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Payment & Shipping</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">cancellation & Return </a></li>
                </ul>
            </div>
            <div class="col-md-3">
              <h5>Top categories</h5>
              <ul class="list-unstyled">
                  <li><a href="#"> Nykaa</a></li>
                  <li><a href="#">Lakme</a></li>
                  <li><a href="#">Maybelline </a></li>
                  <li><a href="#"> Faces Canada</a></li>
                  <li><a href="#">Mac </a></li>
              </ul>
          </div>
        </div>
    </div>
</footer>