<div class="search col-md-4">
  <input type="text" id="searchInput" placeholder="Search" autocomplete="off">
 
  <div id="searchResults" class="search-dropdown"></div>
</div>
<% if (!user) { %>
<h1><%user%></h1>
<a id="signupBtn" style="background-color: purple; color: white; height: 37px; margin-top: 27px; margin-left: 80px;" href="/login" class="btn">Signin</a>
<% } %>
<% if (user) { %>
<div class="small col-md-4">
  <a href="/wishlist"><i class="bi bi-heart-fill"></i> </a>

  <a href="/cart"><i class="bi bi-bag-fill" style="position: relative;">
      <span id="cart-badge" class="badge" style="position: absolute;
    top: 15px;
    right: -5px;
    background: rgb(142, 35, 200);
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    visibility: hidden;">0</span>
    </i></a>


  <a href="/profile"> <i class="bi bi-person-circle"></i></a>
  <% } %>

</div>