<nav class="navbar">
  <div class="container position-relative">
    <a class="navbar-brand" href="#">Cosmeta</a>
    <div style="color: white; font-family: Georgia, 'Times New Roman', Times, serif;" class="header-icons">
      -The real beauty destination-
    </div>
  </div>
</nav>