<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cosmeta - Password Reset</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/email.css" />
  </head>
  <body>
    <!-- Header -->
    <%- include('../partials/nav.ejs') %>

    <!-- Main Content -->
    <div class="main-content">
      <div class="reset-container">
        <h2 class="reset-title">Forgot Password?</h2>
        <p style="font-size: small" class="reset-message">
          Enter the email address you used when you joined<br />
          and we'll send you an OTP to reset your password
        </p>
        <p style="font-size: smaller; margin-left: 28%" class="text-danger">
          <%= message %>
        </p>
        <form action="/email" method="post">
          <div class="mb-4">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email address"
            />
          </div>
          <a href="/otp">
            <button type="submit" class="reset-btn">Reset password</button>
          </a>
        </form>
      </div>
    </div>

    <!-- Footer -->
    <%- include('../partials/footer') %>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
